body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffd6e7, #ffeaf3);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff5fa;
    width: 450px;
    padding: 40px;
    text-align: center;

    border-radius: 25px;
    border: 3px solid #ff9fc5;

    box-shadow: 0 10px 30px rgba(255, 105, 160, 0.25);
}

h1 {
    color: #e75480;
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    color: #b83b68;
    font-size: 20px;
    min-height: 50px;
}

button {
    background-color: #ff8fba;
    color: white;

    border: none;
    border-radius: 20px;

    padding: 12px 20px;
    margin: 8px;

    font-size: 16px;
    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    background-color: #e75480;
    transform: scale(1.08);
}

.flowers {
    font-size: 28px;
    margin: 15px 0;
}
